__pycache__
*.so
build
.coverage_*
*.egg-info
*~
slurm*
logs
.vscode
local/
.gitmodules
wandb/
onelogger.log
onelogger.err
.venv
runs/
/test_cases/
**/dist/
.github
.gitlab
.gitignore
.DS_Store
.gitlab-ci.yml
.pre-commit-config.yaml
.pylintrc
.python-version
.flake8